.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #464646;
    text-transform: uppercase;
}